.Experience {
  margin-top: 20px;
}

.Experience span {
  float: right;
}

.Experience .container {
  background-color: #DDD;
  padding: 15px;
  box-shadow: 1px 4px 5px #999;
}

.Experience h1 {
  margin: 0;
  padding-left: 15px;
}

.Experience h3 {
  padding-left: 15px;
  padding-right: 15px;
}

.Experience h4 {
  padding-left: 15px;
}

@media (max-width: 767px) {
  .Experience .container {
    margin: 0px 20px 20px 20px;
  }
}

@media (max-width: 991px) {
  .Experience .job {
    display: flex;
    flex-direction: column;
  }

  .Experience .bar {
    display: none;
  }
}
