.Education span {
  float: right;
}

.Education {
  margin-top: 20px;
}

.Education .container {
  background-color: #DDD;
  padding: 15px;
  box-shadow: 1px 4px 5px #999;
}

.Education h1 {
  margin: 0;
  padding-left: 15px;
}

.Education h3 {
  padding-left: 15px;
  padding-right: 15px;
}

.Education h4 {
  padding-left: 15px;
}

.Education p {
  padding-left: 15px;
}

@media (max-width: 767px) {
  .Education .container {
    margin: 0px 20px 20px 20px;
  }

}

@media (max-width: 991px) {
  .Education .school {
    display: flex;
    flex-direction: column;
  }

  .Education .bar {
    display: none;
  }
}
