.Projects {
  margin-top: 20px;
}

.Projects span {
  float: right;
}

.Projects .container {
  background-color: #DDD;
  padding: 15px;
  box-shadow: 1px 4px 5px #999;
  /*border: 2px solid black;*/
}

.Projects h1 {
  margin: 0;
  padding-left: 15px;
}

.Projects h3 {
  padding-left: 15px;
  padding-right: 15px;
}

.Projects h4 {
  padding-left: 15px;
}

@media (max-width: 767px) {
  .Projects .container {
    margin: 0px 20px 20px 20px;
  }
}

@media (max-width: 991px) {
  .Projects .project {
    display: flex;
    flex-direction: column;
  }

  .Projects .bar {
    display: none;
  }
}
